/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require jquery-ui
 *= require jquery.modal
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require select-multiple
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);
//@import "bootstrap";

body {
    background-color:#141b25 !important;
    font-family: Roboto !important;
    background-image: asset-url('euro2016.jpg');
    background-size: cover;
    background-attachment: fixed;
    
    p.text-header {
        font-size:20px;
        color:rgba(255,255,255,0.99);
        font-family: Roboto;
        font-weight:bold;
        text-align: center;
        margin-top: 25px;
        text-shadow: 0px 1px 1px #000000;
    }
    
    .navbar {
        li {
            a {
                color: rgba(255,255,255,1);
                text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
                
                &:hover {
                    color: rgba(0, 255, 0, 1) !important;
                    background-color:transparent !important;
                }
            }
        }
    }
    
    h1 {
        text-align:center;
        color:rgba(255,255,255,1);
        text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    }
    
    a.info-link {
        color:rgba(0,0,0,1) !important;
        background-color: transparent !important;
    }
    
    #notice {
        color:rgba(255,255,255,1);
        border:2px solid green;
        border-radius:5px;
        text-align:center;
        padding:5px;
        text-shadow:0px 1px 0px green;
        font-size:18px;
    }
    
    #alert {
        color:rgba(255,255,255,1);
        border:2px solid red;
        border-radius:5px;
        text-align:center;
        padding:5px;
        text-shadow:0px 1px 0px red;
        font-size:18px;
    }

    i {
        font-size: 50px !important;
        margin-left: 10px;
    }
    
    a:hover {
        text-decoration:none !important;
    }
    
    th {
        text-align:center !important;
        color: white !important;
        font-weight: bold !important;
    }
    
    tr:hover > {
        td {
            color:rgba(0,0,0,1) !important;
        }
    }
    
    td {
        text-align:center !important;
        vertical-align: middle !important;
    }
    
    td.countries {
        font-size: 25px;
        line-height:32px;
    }
    
    td.score {
        font-size: 20px;
        line-height: 150px !important;
    }
    
    .table-inverse {
        color: #eceeef;
        background-color: #373a3c;
    }
    
    .jumbotron {
        h1 {
            margin-bottom: 25px;
            margin-top: -10px;
        }
    }
    
    #footer {
        p {
            color:rgba(255,255,255,1);
            font-size:16px;
            text-align:center;
            
            a {
                color:#3c763d;
                
                &:hover {
                    text-decoration: none !important;
                    background-color: transparent !important;
                }
            }
        }
    }
}