// Place all the styles related to the Bets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.center-height-vs {
    margin-top: 68px;
    position: absolute;
    margin-left: 17px;
}

.np_win {background-color:#380202;}
.tp_win {background-color:#053802;}
.op_win {background-color:#020438;}
.wait_win {background-color:#343802;}
