// Place all the styles related to the Countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#countries_table {
    tr:nth-child(odd) {
        color: #000000;
    }
}

.countries_container {
    .row {
        margin:10px 0px;
    }
}